Satria Nur Saputro 

KANGAE

GROUP 1

# Training

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# load dataset
dataset = pd.read_excel("/content/weight-height.xlsx")
dataset.head()

                 Gender,"Height","Weight"
0   Male,73.847017017515,241.893563180437
1  Male,68.7819040458903,162.310472521300
2    Male,74.1101053917849,212.7408555565
3  Male,71.7309784033377,220.042470303077
4  Male,69.8817958611153,206.349800623871

In [ ]:
# make dataframe
dataset[['Gender', 'Height', 'Weight']] = pd.DataFrame(dataset['Gender,"Height","Weight"'].str.split(',').tolist())
dataset.drop(columns=['Gender,"Height","Weight"'], inplace=True)
# show data
dataset.head()

  Gender            Height            Weight
0   Male   73.847017017515  241.893563180437
1   Male  68.7819040458903  162.310472521300
2   Male  74.1101053917849    212.7408555565
3   Male  71.7309784033377  220.042470303077
4   Male  69.8817958611153  206.349800623871

In [ ]:
# info dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  object
 2   Weight  10000 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

In [ ]:
# str to numeric(category)
gender = ['Male', 'Female']
dataset = dataset.replace(gender, [1,0])
# show 20 random
dataset.sample(20)

      Gender            Height            Weight
7384       0  59.4249121111149  94.7470145707541
2827       1  69.9628111350435  189.022745690670
8342       0  63.0675948764312  133.659393628696
2770       1  69.3803026970744  194.749523524474
1895       1  71.8277766229144  198.973565272060
7125       0   63.067693652116  131.492455984797
8940       0  68.6080951862288  172.627998121884
3944       1   67.030415060392  183.249614417679
8609       0  64.8780388045506  149.812881569090
3925       1  69.1692908245573  186.306298774477
5190       0   60.447396660563  117.653785035939
9774       0   65.816652600841  110.488486684118
6784       0  59.7356852588024  129.004417604914
9862       0  61.8544491690001  118.786262779977
4113       1  68.1713988260531  190.235688311971
4741       1  68.3914832395403  181.695335403659
7383       0  67.4790516747645  160.882681184436
7216       0   64.567795559407  153.568256538341
8961       0  68.1527830510768  171.976777035236
7420       0  63.3325826301889  163.079037385705

In [ ]:
# to float
dataset['Height'] = dataset['Height'].astype('float64')
dataset['Weight'] = dataset['Weight'].astype('float64')
# show data 20 rqandom
dataset.sample(20)

      Gender     Height      Weight
5516       0  67.303405  165.018630
4175       1  67.133444  175.152373
589        1  67.138414  163.845001
3660       1  73.375075  224.355490
8969       0  64.413085  142.973057
8372       0  61.812985  137.338234
8462       0  68.316906  160.443183
7982       0  62.675389  134.182577
6552       0  62.389503  110.805629
3378       1  63.529634  156.789293
9580       0  68.836746  161.645203
904        1  67.114527  182.512451
1337       1  72.673994  206.980218
7774       0  66.337658  155.668743
6169       0  61.654175  141.496325
9447       0  66.212536  154.292868
3411       1  67.993995  187.695369
8323       0  66.284863  154.885142
3210       1  68.688855  187.322575
3298       1  69.816099  203.223323

In [ ]:
# get statiscal info from dataset
dataset.describe()

             Gender        Height        Weight
count  10000.000000  10000.000000  10000.000000
mean       0.500000     66.367560    161.440357
std        0.500025      3.847528     32.108439
min        0.000000     54.263133     64.700127
25%        0.000000     63.505620    135.818051
50%        0.500000     66.318070    161.212928
75%        1.000000     69.174262    187.169525
max        1.000000     78.998742    269.989699

In [ ]:
# split X and y
X = dataset[['Gender', 'Height']].values
y = dataset['Weight'].values

In [ ]:
# split data to train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [ ]:
# scaling data
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# train model
linear_regression = LinearRegression()
model_linear_regression = linear_regression.fit(X_train, y_train)
# test model in data testing to get accuracy
model_linear_regression.score(X_test, y_test)

0.9033321846361925

In [ ]:
# Make predictions using the testing set
y_pred = model_linear_regression.predict(X_test)

# The coefficients
print("Coefficients: \n", model_linear_regression.coef_)
# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Coefficients:
 [ 9.67355818 22.96993149]
Mean squared error: 101.24
Coefficient of determination: 0.90

model linear regresi mendapatkan akurasi 90,3% pada data testing.sehingga sudah cukup untuk digunakan deployment pada flask

# testing custom data

In [ ]:
from pickle import dump

# save scaler and model
dump(model_linear_regression, open('linear_regression_model.pkl', 'wb'))
dump(scaler, open('standard_scaler.pkl', 'wb'))

In [ ]:
from pickle import load

# load model
scale = load(open('standard_scaler.pkl', 'rb'))
model = load(open('linear_regression_model.pkl', 'rb'))

In [ ]:
# test use saved model and scaler using custom data
data_test = [[1, 66.455246]]
test = scale.transform(data_test)
test

array([[1.00300451, 0.02485078]])

In [ ]:
# predict custom data above
model.predict(test)

array([171.60020564])